<!DOCTYPE html>
<html>
<head>
	<title>WELCOME TO DASHBOARD</title>
</head>
<body>
	<h1>WELCOME TO DASH BOARD</h1>
	<% for(i=0;i<res.length;i++) { %>
	<form>
		<p>
			first name is : <%= res[i].firstname %>
		</p>
	</form>
	<% } %>

</body>
</html>